

<section class="content">
    <div class="container-fluid" ng-controller="addMovileController">
        <!-- Horizontal Layout -->
        <div class="block-header">
            <h2>AGREGAR EQUIPOS</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Agregar Equipos
                        </h2>
                    </div>
                    <div class="body">
                        <form class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="company_disp">Compañia</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <select class="form-control show-tick" ng-model="company" multiple required>
                                            <option value="telcel">TELCEL</option>
                                            <option value="movistar">MOVISTAR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="number">Numero Telefonico</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="number" class="form-control" placeholder="Número Telefonico" ng-model="number_phone" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="app_uuid">UUID</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="uuid_movile" class="form-control" placeholder="UUID" ng-model="uuid" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="user">IMEI</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="imei_movile" class="form-control" placeholder="IMEI" ng-model="imei" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="estado">Estado</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <select class="form-control show-tick" ng-model="state"multiple required>
                                                <option value="nuevo">NUEVO</option>
                                                <option value="reparado">REPARADO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="date">Fecha de registro</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="datepicker form-control" placeholder="Ingresa fecha de ingreso" ng-model="date" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix js-sweetalert">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                    <button class="btn btn-primary waves-effect" ng-click="registerMovile()">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->

        <div class="block-header">
            <h2>LISTA DE EQUIPOS</h2>
        </div>
        <!-- Horizontal Layout -->
        <div class="row clearfix" ng-controller="updateMovil">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Lista de Equipos
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>COMPAÑIA</th>
                                    <th>NÚMERO TELEFONICO</th>
                                    <th>IMEI</th>
                                    <th>UUID</th>
                                    <th>ESTADO</th>
                                    <th>ASIGNACIÓN</th>
                                    <th>EDITAR</th>
                                    <th>ELIMINAR</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="movil in allmovil">
                                <tr>
                                    <td>{{ movil.company }}</td>
                                    <td>{{ movil.number_phone }}</td>
                                    <td>{{ movil.imei }}</td>
                                    <td>{{ movil.uuid }}</td>
                                    <td>{{ movil.state }}</td>
                                    <td>No asignado</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-circle waves-effect waves-red waves-circle waves-float" data-toggle="modal" data-target="#largeModal">
                                        <i class="material-icons">create</i>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-circle waves-effect waves-red waves-circle waves-float" data-toggle="modal" data-target="#largeModal">
                                            <i class="material-icons">delete_sweep</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->
        
        <!-- #END# Multi Column -->
    </div>
</section>

<!-- modal -->

<!-- Large Size -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
    
<!-- Custom Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<!--<script src="../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>-->
<script src="../js/pages/forms/basic-form-elements.js"></script>

<script src="../plugins/bootstrap-notify/bootstrap-notify.js"></script>
<!-- Select Plugin Js -->
<script src="../js/pages/ui/dialogs.js"></script>

<!-- SweetAlert Plugin Js -->
<script src="../plugins/sweetalert/sweetalert.min.js"></script>

<!-- Bootstrap Colorpicker Js -->
<script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<!-- Dropzone Plugin Js -->
<script src="../plugins/dropzone/dropzone.js"></script>

<!-- Input Mask Plugin Js -->
<script src="../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>


<!-- Multi Select Plugin Js -->
<script src="../plugins/multi-select/js/jquery.multi-select.js"></script>


<!-- Bootstrap Tags Input Plugin Js -->
<script src="../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

<!-- noUISlider Plugin Js -->
<script src="../plugins/nouislider/nouislider.js"></script>
<script src="../js/admin.js"></script>