
<style type="text/css">
    
    .radioButtondemoBasicUsage body {
      padding: 20px; }

    .radioButtondemoBasicUsage hr {
      margin-left: -20px;
      opacity: 0.3; }

    .radioButtondemoBasicUsage md-radio-group {
      width: 150px; }

    .radioButtondemoBasicUsage p:last-child {
      padding-bottom: 50px; }

    .radioButtondemoBasicUsage [ng-controller] {
      padding: 0 20px; }

    .radioButtondemoBasicUsage .radioValue {
      margin-left: 5px;
      color: #0f9d58;
      font-weight: bold;
      padding: 5px; }

    .radioButtondemoBasicUsage md-icon {
      margin: 0 20px 20px;
      width: 128px;
      height: 128px; }

    .radioButtondemoBasicUsage .ipsum {
      color: saddlebrown;
      font-size: 0.9em; }

</style>

<section class="content">
    <div class="container-fluid" ng-controller="assigmentController">
        <!-- Horizontal Layout -->
        <div class="block-header">
            <h2>USUARIOS SIN ASIGNAR</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Usuarios sin asignar
                        </h2>
                    </div>
                    <div class="body">
                        <md-list ng-cloak>
                            <md-list-item ng-repeat="user in filterUser" class="noright" asig-movile user= '{{ user.name }}' data-toggle="modal" data-target="#largeModal">
                                <img alt="{{ user.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                                <p>{{ user.name }}</p>
                                <i class="md-secondary material-icons">linear_scale</i>
                                <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                                <md-icon md-svg-icon="communication:email" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                                <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>
        <!-- Horizontal Layout -->
        <div class="block-header">
            <h2>USUARIOS ASIGNADOS</h2>
        </div>
        <!-- Horizontal Layout -->
        <div class="row clearfix" ng-controller="subAssigmentController">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            USUARIOS ASIGNADOS
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Dispositivo</th>
                                    <th>EDITAR</th>
                                    <th>ELIMINAR</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="user in updateUser">
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.imei }}</td>
                                    <td>Asignado</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-circle waves-effect waves-red waves-circle waves-float" data-toggle="modal" data-target="#modalEdit">
                                        <i class="material-icons">create</i>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-circle waves-effect waves-red waves-circle waves-float" data-toggle="modal" data-target="#deleteModal">
                                            <i class="material-icons">delete_sweep</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Large asignation mobil  -->
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div id="modalAssigUser" class="modal-content" username="">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel" user=""></h4>
                        </div>
                        <hr />
                        <div class="modal-body">
                            <!---->
                            <div>
                                <form ng-cloak>
                                    <p>Dispositivo seleccionado: <span class="radioValue">{{ data.group1 }}</span> </p>

                                    <md-radio-group ng-model="data.group1" ng-repeat="mobil in allmovil">
                                        <md-radio-button value="{{ mobil.imei }}" class="md-primary user" ng-modal="disp" asiguser="">{{ mobil.imei }}</md-radio-button>
                                    </md-radio-group>
                                </form>
                            </div>
                            <!---->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" ng-click="asigMobil()">Asignar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- #END# Horizontal Layout -->
    </div>
</section>






<!-- Modal Edit user  -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" username="">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel" user=""></h4>
            </div>
            <hr />
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-link waves-effect" data-dismiss="modal" >Asignar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete user  -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" username="">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel" user=""></h4>
            </div>
            <hr />
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-link waves-effect" data-dismiss="modal" >Asignar</button>
            </div>
        </div>
    </div>
</div>


<script src="../plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="../js/pages/ui/dialogs.js"></script>
<script src="../plugins/node-waves/waves.js"></script>
<!-- SweetAlert Plugin Js -->
<script src="../plugins/sweetalert/sweetalert.min.js"></script>
<script src="../js/admin.js"></script>
<script src="../js/demo.js"></script>