
<!--###############################
 		directive menu
############################### -->
<style type="text/css">
    
    .icons-size {
        font-size: 3em;
        margin: 0 auto;
    }

    .item-content {
        margin: 20px;
    }

    .link-icon {
        margin:0;
        padding:0;
    }

    .text-info {
        text-align: center;
    }

</style>

<aside id="leftsidebar" class="sidebar" style="width:150px;background-color: #000">
    <div class="menu">
        <ul class="list">
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#home" class="link-icon">
                            <i class="material-icons icons-size">home</i>
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Inicio</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#add-user" class="link-icon">
                            <i class="material-icons icons-size">person_add</i>
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Usuarios</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#add-movile" class="link-icon">
                            <i class="material-icons icons-size">settings_cell</i>
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Agregar</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#assignment" class="link-icon">
                            <i class="material-icons icons-size">assignment_ind</i>
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Asignación</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#" class="link-icon">
                            <i class="material-icons icons-size">location_on</i>
                            
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Rastreo</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <a href="#" class="link-icon">
                            <i class="material-icons icons-size">warning</i>
                        </a>
                    </div>
                    <div class="item-inner text-info">
                        <span>Incidencias</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>