<style>
  #maps {
    min-height: 680px;
    width: 100%;
   }
</style>
<!-- maps -->

<!-- Widgets -->
<section class="content">
    <div class="container-fluid">
        
        <div class="row clearfix">
            <!-- person user active -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" ng-controller="userOnline">
                
                <md-list-item ng-repeat="person in filterUser" class="noright">
                    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                    <p>{{ person.name }}</p>
                    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
                    <md-icon md-svg-icon="communication:email" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                    <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                </md-list-item>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="card">
                    <div class="body" style="padding:0">
                        <app-tracking id="maps"></app-tracking>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>